bhtsne>=0.1.9
ffmpeg
future
hdbscan>=0.8.26
joblib>=0.14.1
matplotlib>=3.0.3
networkx
numpy>=1.16.4
pandas>=1.0.3
psutil>=5.7.0
opencv-python
openTSNE
seaborn>=0.10.0
scikit-learn>=0.22.1
streamlit>=0.64.0
tables
tqdm>=4.46.0
umap-learn>=0.4.6
